body {
    background-image: url(../images/darkness.png);  
}
#heading {
    padding: 10px;
}
.main-container {
    margin-bottom: 80px;
}
#contact-container {
    height: 485px;
}
.card-header {
    font-size: 30px;
}
#about-img {
    width: 400px;
    margin-right: 20px;
    margin-bottom: 15px;
}
p {
    line-height: 27px;
    color: white;
}
.contact-heads {
    color: #999d9d;
}
#name-input-head {
    margin-top: 5px;
}
#exampleFormControlInput1 {
    background-image: url(../images/darkness.png);
    color: white;
    border: 0px;
}
#exampleFormControlTextarea1 {
    background-image: url(../images/darkness.png);
    color: white;
    border: 0px;
}
@media screen and (max-width: 640px) {
    .card-header {
        font-size: 16px;
    }
}